[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
rdflib = "*"
networkx = "*"
matplotlib = "*"
pyvis = "*"
jupyterlab = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
pypdf2 = "*"
pymupdf = "*"
ipython = "*"
numpy = "*"
requests = "*"
langchain = "*"
langchain-community = "*"
langchain-ollama = "*"
python-dotenv = "*"
langgraph = "*"
langchain-openai = "*"
qwen-agent = "*"

[dev-packages]
black = "*"

[scripts]
setup-search = "bash setup.sh"
configure-solr = "python kg_search_index/configure_solr.py"
query = "python kg_search_index/query_bgb.py"
query-interactive = "python kg_search_index/query_bgb.py --interactive"
build-index = "python kg_search_index/build_solr_index.py"
load-blazegraph = "python blazegraph_instance/load_blazegraph.py"
sparql = "python blazegraph_instance/query_sparql.py"
sparql-interactive = "python blazegraph_instance/query_sparql.py --interactive"
bgb-ai = "python langchain_service/bgb_ai.py"
bgb-ai-interactive = "python langchain_service/bgb_ai.py --interactive"
bgb-ai-demo = "python langchain_service/demo.py"

[requires]
python_version = "3.11"
